{%- assign cited = "" | split: "" -%}

{%- for pair in site.data.bibliography | sort -%}
  {%- assign key=pair[0] -%}
  {%- assign keyref='#bib-' | append: key -%}
  {%- if include.content contains keyref -%}
    {%- assign cited = cited | push: key -%}
  {%- endif -%}
{%- endfor -%}

{%- if cited.size > 0 -%}
<ol class="bibliography">
  {%- assign sorted_cited = cited | sort -%}
  {% for key in sorted_cited %}
    {%- assign entry=site.data.bibliography[key] -%}
    <li id="bib-{{ key }}">
      {% include bibitem.html entry=entry %}
    </li>
  {% endfor %}
</ol>
{%- endif -%}
