{%- assign post=include.post -%}
{% assign words = post.content | number_of_words %}
{% assign reading_time = words | divided_by: 200 | at_least: 1 %}

<header class="post-header">
  {% if include.printlink -%}
    <h1 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
  {%- else -%}
    <h1 class="post-title">{{ post.title }}</h1>
  {%- endif %}

  {%- if post.description -%}
    <p class="post-description">
      {{ post.description | markdownify }}
    </p>
  {%- endif -%}

  <p class="post-meta">
    <time datetime="{{ post.date | date_to_xmlschema }}">
      {{ post.date | date_to_string }}
    </time> 

    {% if post.last_modified_at %}
      · Updated on
      <time datetime="{{ post.last_modified_at | date_to_xmlschema }}">
        {{ post.last_modified_at | date_to_string }}
      </time> 
    {% endif %}

    · <span class="reading-time">
        {{ reading_time }} min read
    </span>
  </p>
</header>
