{%- assign post=include.post -%}

{%- case include.type -%}
    {%- when 'full' -%}
        <article class="post">
            {%- include print_post_header.html post=post -%}

            <section class="post-content">
                {{ content }}
            </section>

        </article>
    {%- else -%}
        <article class="post-preview">
            {%- include print_post_header.html post=post printlink=1 -%}

            <p class="post-excerpt">
                {{ post.excerpt | strip_html | truncate: 500 }}
            </p>

            <p class="post-readmore">
                <a href="{{ post.url | relative_url }}">Read →</a>
            </p>
        </article>
{%- endcase -%}





