<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}

    <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" sizes="any">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}"><!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css"> <!--academicons-->
    <script src="https://kit.fontawesome.com/9b896b7a03.js" crossorigin="anonymous"></script> <!--fontawesome-->

    <!-- Scripts -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    <!-- MathJax -->
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
          tags: 'ams'
        }
      };
    </script>
    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
  </head>

  <body>
    <!-- Main Content -->
    <div class="wrapper">
      <section>
        <div  id="title">
          <h1 style="font-weight: 500">{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <p class="site-meta">
            By <a href="{{ site.author.website }}">{{ site.author.shortname }}</a> · <a href="{{ '/about/' | relative_url }}">About</a> · <a href="{{ '/feed.xml' | relative_url }}">RSS</a>
        </p>
        </div>
        
        {{ content }}

      </section>
    </div>
  </body>
</html>
