---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>

    <p class="post-meta">
      {{ page.date | date_to_string }}

      {% if page.updated %}
        · Updated on {{ page.updated | date_to_string }}
      {% endif %}

      {% if page.tags %}
        ·
        {% for tag in page.tags %}
          <span class="post-tag">{{ tag }}</span>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% endif %}
    </p>
  </header>

  <section class="post-content">
    {{ content }}
  </section>
</article>
